/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Toast Resize */
.p-toast {
    width: 650px !important;
    max-width: 90vw !important;
}

.p-toast-message-text {
    word-break: break-word;
}